<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Login Test">
        <classes>
            <class name="org.globantTest.LoginTest"/>
        </classes>
    </test>
    <test name="Logout Test">
        <classes>
            <class name="org.globantTest.LogoutTest"/>
        </classes>
    </test>
    <test name="Deactivate User Test">
        <classes>
            <class name="org.globantTest.DeactivateUserTest"/>
        </classes>
    </test>
</suite>